.vertical-center, #full-search-cont form {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

body {
  background-color: #f0f0f0;
  color: #505050;
  font-size: 16px; }

nav ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none; }
  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #505050; }

nav#bg-nav #logo-cont {
  padding: 0 10px;
  height: 150px; }
  nav#bg-nav #logo-cont span, nav#bg-nav #logo-cont .search-btn {
    line-height: 150px;
    vertical-align: bottom; }
  nav#bg-nav #logo-cont span {
    font-size: 3em; }

nav#bg-nav ul {
  background-color: #FFEB3B;
  text-align: center;
  position: relative;
  z-index: 1000; }
  nav#bg-nav ul li {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 0;
    position: relative; }
    nav#bg-nav ul li.dropdown {
      position: relative; }
    nav#bg-nav ul li ul.dropdown-content {
      display: none;
      position: absolute;
      top: 25px;
      left: -10px;
      margin-left: 0; }
    nav#bg-nav ul li.dropdown:hover > .dropdown-content {
      display: block; }

nav#sm-nav {
  position: fixed;
  right: -100px;
  top: 30px;
  z-index: 1000;
  transition: 300ms; }
  nav#sm-nav.active {
    right: 30px; }
  nav#sm-nav > ul > li {
    background-color: #FFEB3B;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    transition: 300ms; }
    nav#sm-nav > ul > li#nav-menu-cont {
      position: relative; }
      nav#sm-nav > ul > li#nav-menu-cont #sm-nav-dropdown {
        background-color: #FFEB3B;
        position: absolute;
        right: 0px;
        z-index: 1006;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: opacity 400ms, transform 300ms; }
        nav#sm-nav > ul > li#nav-menu-cont #sm-nav-dropdown ul {
          text-align: left;
          padding: 0 20px; }
          nav#sm-nav > ul > li#nav-menu-cont #sm-nav-dropdown ul li {
            font-size: 1.3em; }
      nav#sm-nav > ul > li#nav-menu-cont:hover {
        box-shadow: inset 0px 0px 0px 26.5px #f0f0f0; }
        nav#sm-nav > ul > li#nav-menu-cont:hover a > div, nav#sm-nav > ul > li#nav-menu-cont:hover #nav-menu > div {
          background-color: #FFEB3B;
          box-shadow: 0px 15px 0px #FFEB3B, 0px -15px 0px #FFEB3B; }
        nav#sm-nav > ul > li#nav-menu-cont:hover #sm-nav-dropdown {
          opacity: 1;
          transform: scaleY(1); }
    nav#sm-nav > ul > li a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      nav#sm-nav > ul > li a#nav-menu-btn div {
        position: relative;
        top: 27px;
        margin: auto;
        width: 7px;
        height: 7px;
        background-color: #505050;
        box-shadow: 0px 15px 0px #505050, 0px -15px 0px #505050;
        border-radius: 50%; }
      nav#sm-nav > ul > li a#search-menu-btn {
        position: relative;
        top: 12px; }
      nav#sm-nav > ul > li a#grav-menu-btn div {
        position: relative;
        width: 100%;
        height: 100%; }
        nav#sm-nav > ul > li a#grav-menu-btn div img {
          width: 100%;
          height: 100%;
          border-radius: 50%; }

#full-search-cont {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 1007; }
  #full-search-cont a {
    position: absolute;
    right: 100px;
    top: 100px; }
    #full-search-cont a span {
      transform: rotate(45deg); }
      #full-search-cont a span, #full-search-cont a span:after {
        display: block;
        width: 40px;
        height: 7px;
        background-color: #505050; }
      #full-search-cont a span:after {
        content: "";
        transform: rotate(-90deg); }
  #full-search-cont form {
    text-align: center; }
    #full-search-cont form input[type="text"] {
      width: 60%;
      font-size: 2em;
      padding: 30px;
      background-color: transparent; }

/*# sourceMappingURL=app.css.map */
